.address {
  display: flex;
  flex-direction: column;
  max-width: 333px;
  margin-right: 2px;

  font-weight: 400;
  color: $color-dark-blue;

  justify-self: flex-end;

  @media (max-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;

    justify-self: flex-start;
  }
}

.address__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 16px;
  font-family: $font-family--roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $mobile-width) {
    margin-top: 29px;
    margin-bottom: 32px;
  }
}

.address__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 25px;
  font-family: $font-family--pt-mono;

  opacity: 0.5;

  grid-template-columns: 1fr;

  @media (max-width: $mobile-width) {
    margin-right: 1px;
    margin-bottom: 26px;
  }
}

.address__link {
  &:hover {
    color: $color-blue;
  }

  &:active {
    opacity: 0.7;
  }
}
