.brief {
  display: flex;
  flex-direction: column;

  font-family: $font-family--roboto-condensed;

  @media (max-width: $tablet-width) {
    position: relative;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -25px;

      width: 100vw;
      height: 1px;

      background-color: rgba($color-dark-grey, 0.2);
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 55px;

    &::after {
      left: -16px;
    }
  }
}

.brief__logo-wrapper {
  display: flex;
  width: 216px;
  margin-bottom: 53px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.brief__logo {
  margin-right: 13px;

  @media (max-width: $mobile-width) {
    margin-right: 14px;
  }
}

.brief__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3px;
  padding-left: 2px;
}

.brief__slogan-title {
  margin: 0;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $color-special-black;
}

.brief__slogan-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-family--roboto;
  color: $color-grey;
}

.brief__work-experience {
  display: none;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $font-family--pt-mono;
  color: $color-dark-blue;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  opacity: 0.5;

  @media (max-width: $tablet-width) {
    display: flex;
    margin-top: 5px;
    margin-left: 12px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-bottom: 31px;
    margin-left: 0;
  }
}
