.brief {
  display: flex;
  flex-direction: column;

  font-family: $font-family--roboto-condensed;

  @media (max-width: $tablet-width) {
    position: relative;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -25px;

      width: 100vw;
      height: 1px;

      background-color: rgba($color-dark-grey, 0.2);
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 54px;

    &::after {
      left: -16px;
    }
  }
}

.brief__logo {
  display: flex;
  width: 216px;
  margin-bottom: 53px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
  }
}

.brief__work-experience {
  display: none;
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $font-family--pt-mono;
  color: $color-dark-blue;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  opacity: 0.5;

  @media (max-width: $tablet-width) {
    display: flex;
    margin-top: 4px;
    margin-left: 14px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-bottom: 31px;
    margin-left: 0;
  }
}
