.contacts {
  display: flex;
  justify-content: flex-end;
}

.contacts__list {
  display: grid;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-template-columns: repeat(3, max-content);
}
