.copyright {
  display: grid;
  width: 100%;
  max-width: 1574px;
  margin: 0 auto;
  padding: 0 80px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $font-family--pt-mono;
  color: $color-dark-blue;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  opacity: 0.5;

  grid-column-gap: 50px;
  grid-template-columns: 1fr 2fr;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $mobile-width) {
    padding-top: 19px;
    padding-bottom: 16px;
  }
}

.copyright__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.copyright__first-list {
  max-width: 456px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.copyright__second-list {
  max-width: 813px;
  margin-right: 4px;

  justify-self: flex-end;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.copyright__item {
  display: flex;
  align-items: center;
  max-width: 250px;

  text-align: center;

  &:first-child {
    margin-right: 50px;

    @media (max-width: $tablet-width) {
      margin-left: 3px;
    }
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    max-width: 100%;

    &:first-child {
      margin-right: 0;
    }
  }
}

.copyright__description {
  margin: 0;
  padding: 14px 0;
}

.copyright__link {
  display: flex;
  padding: 14px 0;

  text-align: center;

  &:hover {
    color: $color-blue;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    padding: 21px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 0;
  }
}
