.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1574px;
  margin: 0 auto;
  padding: 0 80px;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: $font-family--pt-mono;
  color: $color-dark-blue;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  opacity: 0.5;
}

.copyright__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.copyright__first-list {
  max-width: 456px;
}

.copyright__second-list {
  max-width: 820px;
}

.copyright__item {
  display: flex;
  align-items: center;
}

.copyright__description {
  margin: 0;
  padding: 14px 0;
}

.copyright__link {
  display: flex;
  padding: 14px 0;

  text-align: center;

  :hover {
    color: $color-blue;
  }

  :active {
    opacity: 0.7;
  }
}
