.footer {
  width: 100%;

  background-color: $color-dirty-white;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1574px;
  margin: 0 auto;
  padding: 66px 80px 59px;

  border-bottom: 1px solid rgba($color-dark-grey, 0.2);
}
