.header {
  display: grid;
  max-width: 1631px;
  margin: 0 auto;
  padding: 0 110px;

  font-family: $font-family--roboto-condensed;
  color: $color-white;

  grid-template-columns: min-content 1fr min-content;
}

.header__logo-wrapper {
  display: flex;
  width: 204px;
  margin-right: 100px;
}

.header__logo {
  margin-right: 14px;
}

.header__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3px;
  padding-left: 2px;
}

.header__slogan-title {
  margin: 0;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.header__slogan-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: $font-family--roboto;
  color: $color-grey;
}

.header__feedback {
  display: flex;
  justify-content: center;
  width: 180px;
  margin-top: 3px;
  margin-bottom: 2px;
  padding: 14px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid $color-white;
  border-radius: 5px;

  &:hover {
    color: $color-blue;

    border: 1px solid $color-blue;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
