.sections {
  display: flex;
  flex-direction: column;
  margin-left: 17px;

  font-weight: 400;
  color: $color-dark-blue;

  justify-self: center;

  @media (max-width: $tablet-width) {
    margin-left: 0;

    justify-self: flex-start;
  }

  @media (max-width: $mobile-width) {
    position: relative;

    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -16px;

      width: 100vw;
      height: 1px;

      background-color: rgba($color-dark-grey, 0.2);
    }
  }
}

.sections__title {
  max-width: 425px;
  margin: 0;
  margin-bottom: 24px;

  font-size: 15px;
  line-height: 16px;
  font-family: $font-family--roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $mobile-width) {
    margin-top: 29px;
    margin-bottom: 28px;
  }
}

.sections__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 25px;
  font-family: $font-family--pt-mono;

  opacity: 0.5;

  grid-auto-flow: column;
  grid-column-gap: 74px;
  grid-template-rows: repeat(4, min-content);

  @media (max-width: $tablet-width) {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 26px;
  }
}

.sections__list--close {
  display: grid;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.sections__item {
  display: flex;
  width: 100%;
  max-width: 234px;

  justify-self: flex-end;

  @media (max-width: $mobile-width) {
    justify-self: flex-start;
  }
}

.sections__link {
  &:hover {
    color: $color-blue;
  }

  &:active {
    opacity: 0.7;
  }
}

.sections__button {
  display: none;
}

.sections__button--open {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 30px;
    right: 0;

    display: flex;
    width: 16px;
    height: 16px;

    background-color: transparent;
    background-image: url("../img/svg/plus.svg");
    border: none;
    cursor: pointer;
  }
}

.sections__button--close {
  display: none;

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 35px;
    right: 0;

    display: flex;
    width: 16px;
    height: 1px;

    background-color: transparent;
    background-image: url("../img/svg/minus.svg");
    border: none;
    cursor: pointer;
  }
}
