.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.scroll-lock {
  overflow-y: hidden;
}

.check-input {
  border-color: $color-red;
  box-shadow: 0 0 2px 2px $color-red;
}
