.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.scroll-lock {
  overflow: hidden;
}

.check-input {
  box-shadow: 0 0 2px 2px $color-red;
  
  & + label {
    color: $color-red;
    text-decoration: underline;
    text-shadow: 0 0 2px $color-red;
  }
}

.check-label {
  color: $color-dark-blue;
}
