// Fonts

$font-family--pt-mono: "PT Mono", "Courier", monospace;
$font-family--roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$font-family--roboto: "Roboto", "Arial", sans-serif;

// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-grey: #788891;

// Width

$tablet-width: 1023px;
$mobile-width: 767px;
